@charset "utf-8";

@font-face {
	font-family: 'PTSansRegular';
	src: url('../fonts/PTSansRegular/PTSansRegular.eot');
	src: url('../fonts/PTSansRegular/PTSansRegular.woff') format('woff'),
	 	 url('../fonts/PTSansRegular/PTSansRegular.ttf') format('truetype'),
	  	 url('../fonts/PTSansRegular/PTSansRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'PTSansBold';
	src: url('../fonts/PTSansBold/PTSansBold.eot');
	src: url('../fonts/PTSansBold/PTSansBold.woff') format('woff'), 
		 url('../fonts/PTSansBold/PTSansBold.ttf') format('truetype'), 
		 url('../fonts/PTSansBold/PTSansBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot');
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.woff2') format('woff2'),
       url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'),
       url('../fonts/ProximaNova/ProximaNova-Semibold.ttf') format('truetype'),
       url('../fonts/ProximaNova/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'),
       url('../fonts/ProximaNova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'PTSerifRegular';
	src: url('../fonts/PTSerifRegular/PTSerifRegular.eot');
	src: url('../fonts/PTSerifRegular/PTSerifRegular.woff') format('woff'),
	 	 url('../fonts/PTSerifRegular/PTSerifRegular.ttf') format('truetype'),
	  	 url('../fonts/PTSerifRegular/PTSerifRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSerif-Bold';
	src: url('../fonts/PTSerifBold/8156.eot');
	src: url('../fonts/PTSerifBold/8156.woff') format('woff'), 
		 url('../fonts/PTSerifBold/8156.ttf') format('truetype'), 
		 url('../fonts/PTSerifBold/8156.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaRegular';
	src: url('../fonts/HelveticaRegular/HelveticaRegular.eot');
	src: url('../fonts/HelveticaRegular/HelveticaRegular.woff') format('woff'), 
		 url('../fonts/HelveticaRegular/HelveticaRegular.ttf') format('truetype'),
		 url('../fonts/HelveticaRegular/HelveticaRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'font3346';
  src: url('../fonts/Enter/font3346.eot');
  src: url('../fonts/Enter/font3346.woff2') format('woff2'),
       url('../fonts/Enter/font3346.woff') format('woff'),
       url('../fonts/Enter/font3346.ttf') format('truetype'),
       url('../fonts/Enter/font3346.svg#font3346') format('svg'),
       url('../fonts/Enter/font3346.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'svgfont_0regular';
    src: url('../fonts/Enter/footer_4.eot');
    src: url('../fonts/Enter/footer_4.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Enter/footer_4.woff2') format('woff2'),
         url('../fonts/Enter/footer_4.woff') format('woff'),
         url('../fonts/Enter/footer_4.ttf') format('truetype'),
         url('../fonts/Enter/footer_4.svg#svgfont_0regular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.enter-img {
	font-family: 'font3346';
	font-size: 15px;
	font-style: normal;
	display: inline-block;
	color: #c7c7c7;
}
.enter-img:before {
	content: 'а';
}
.footer-img {
	font-family: 'svgfont_0regular';
	font-size: 60px;
	font-style: normal;
	display: inline-block;
	color: #c7c7c7;
	position: absolute;
}
.insta-img:before {
	content: 'b';
}
.vk-img:before {
	content: 'a';
}
.b-top-mobile {
	display: none;
}

html,
body {
	position: relative;
}
body {
	min-width: 1160px;
	text-align: center;
	font-family: 'PTSansRegular';
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #472275;
}
a{
	text-decoration: none;
	color: #000;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 100;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border: 1px solid #F00 !important;
	box-shadow: 0 0px 0px 1px #F00;
}
.ps-lines{

}
	.ps-lines li.v{
		position: fixed;
		left: 50%;
		height: 100%;
		width: 1px;
		top: 0px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
	.ps-lines li.g{
		position: absolute;
		left: 0px;
		width: 100%;
		height: 1px;
		background-color: #00ffff;
		opacity: 0.8;
		z-index: 9999;
	}
.fancybox-inner{
	overflow: visible !important;
}
.bold{
	font-family: 'PFM';
}
.underline{
	text-decoration: underline;
}
.white{
	color: #FFF;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	width: 1160px;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #434343;
}
input:-moz-placeholder {
	color: #434343;
}
.b-icon{
	position: relative;
}
.b-icon:before{
	background-repeat: no-repeat;
	background-image: url('../i/sprite.png');
	background-size: 289px;
	position: absolute;
	content: "s";
	font-size: 0px;
}
.button{
	display: block;
	font-family: 'PTSansRegular';
	font-size: 16px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
	width: 178px;
	height: 48px;
	text-align: center;
	line-height: 48px; 
}
	.button:hover{
		background-color: #fff;
		color: #2876bc;
	}
.b-services .button-blue,
.b-otzivi .button-blue {
	display: none;
}
.button-blue {
	background-color: #009bdc;
	color: #fff;
	border: none;
}
.button-blue:hover {
	color: #fff;
	background-color: #147ec3;
}

.b-top {
	padding: 6px 0px;
	background-color: #636363;
	padding-bottom: 8px;
}
	.b-top .b-top--left {
		float: left;
	}
		.b-top .b-top--left li {
			margin-right: 65px;
			float: left;
		}
			.b-top .b-top--left li:last-child {
				margin-right: 0px;
				position: relative;
			}
			.b-top .b-top--left li:last-child .babl {
				width: 300px;
				height: 95px;
				background-color: #f1f1f1;
				position: absolute;
				z-index: 10;
				left: 40%;
				top: 30px;
				display: table;
				border-radius: 3px;
				-webkit-box-shadow: 0px 8px 57px -10px rgba(38,36,38,1);
-moz-box-shadow: 0px 8px 57px -10px rgba(38,36,38,1);
box-shadow: 0px 8px 57px -10px rgba(38,36,38,1);
			}
				.b-top .b-top--left li:last-child .babl p {
					width: 260px;
					color: #000;
					font-size: 16px;
					font-family: 'PTSansRegular';
					text-align: left;
					display: table-cell;
					height: 95px;
					vertical-align: middle;
					padding: 0px 15px;
				}
				.b-top .b-top--left li:last-child .babl .trian {
					position: relative;
				}
					.b-top .b-top--left li:last-child .babl .trian .triangle {
						position: absolute;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 8px 8px 8px;
						border-color: transparent transparent #f1f1f1 transparent;
					    top: -8px;
    					left: 35px;
					}
		.b-top a {
			font-family: 'PTSansRegular';
			font-size: 16px;
			color: #c7c7c7;
			text-decoration: underline;
		}
			.b-top a:hover {
				text-decoration: none;
			}
			.b-top a.active {
				text-decoration: none;
			}
	.b-top .b-top--right {
		float: right;
	}
		.b-top .b-top--right i {
			padding-left: 5px;
		}

.b-nav {
	padding-top: 15px;
	padding-bottom: 15px;
}
	.b-nav .b-nav__logo {
		float: left;
	}
		.b-nav .b-nav__logo img {
			float: left;
		}
		.b-nav .b-nav__logo h3 {
			padding-top: 5px;
			float: left;
			text-align: left;
			margin-left: 15px;
			text-transform: uppercase;
			font-family: 'ProximaNova-Semibold';
			font-size: 14px;
			color: #515151;
		}
	.b-nav .b-nav__menu {
		float: left;
		margin-left: 115px;
		margin-top: 20px;
	}
		.b-nav .b-nav__menu li {
			float: left;
			margin-right: 43px;
		}
			.b-nav .b-nav__menu li:last-child {
				margin-right: 0px;
			}
		.b-nav .b-nav__menu li a {
			font-family: 'PTSansRegular';
			font-size: 16px;
			color: #515151;
		}
			.b-nav .b-nav__menu li a:hover {
				text-decoration: underline;
			}
		.b-nav .b-nav__menu li img {
			position: absolute;
			cursor: pointer;
			z-index: 1;
			right: 0px;
    		top: 2px;
		}
		.b-nav .b-nav__menu li .search-form {
			display: none;
		    right: 0px;
		    z-index: 5;
		    top: -5px;
		    width: 170px;
		    overflow: visible !important;
		}
			.b-nav .b-nav__menu li .search-form form {
				position: relative;
			}
		.b-nav .b-nav__menu li .search-form input[type="submit"] {
		    background-image: url('../img/loopa.png');
		    width: 18px;
		    height: 18px;
		    background-color: rgba(255,255,255,0);
		    border: none;
		    cursor: pointer;
		    position: absolute;
	        right: 0px;
    		top: 7px;
    		z-index: 15;
		}
		.b-nav .b-nav__menu li .search-form input[type="text"] {
			position: absolute;
			right: -7px;
			width: 100%;
		    height: 30px;
		    padding: 0px 10px;
		    border: 1px solid #aeaeae;
		    border-radius: 5px;
		    background-color: #eaeaea;
		    z-index: 15;
		    padding-right: 35px;
		    text-align: center;
		    -webkit-box-shadow: 0px 8px 25px -9px rgba(38,36,38,1);
			-moz-box-shadow: 0px 8px 25px -9px rgba(38,36,38,1);
			box-shadow: 0px 8px 25px -9px rgba(38,36,38,1);
		}
		.b-nav .b-nav__menu li.hide_left_for_search {
			width: 60px;
		}
		.b-nav .b-nav__menu li.show_left_for_search {

		}
		.b-nav .b-nav__menu li img {
				margin-top: 5px;
				cursor: pointer;
				z-index: 1;
				margin-right: 7px;
	    		top: 2px;
			}
				.b-nav .b-nav__menu .my_form {
				    width: 217px;
				    position: absolute;
				    left: 217px;
				    top: 0px;

				}
					.b-nav .b-nav__menu li .my_form form {
						position: relative;
					}
				.b-nav .b-nav__menu li .my_form input[type="submit"] {
				    background-image: url('../img/loopa.png');
				    width: 18px;
				    height: 18px;
				    background-color: rgba(255,255,255,0);
				    border: none;
				    cursor: pointer;
				    position: absolute;
			        right: 7px;
		    		top: 7px;
		    		z-index: 15;
				}
				.b-nav .b-nav__menu li .my_form input[type="text"] {
					
					width: 170px;
				    height: 30px;
				    padding: 0px 10px;
				    border: 1px solid #aeaeae;
				    border-radius: 5px;
				    background-color: #eaeaea;
				    z-index: 15;
				    padding-right: 35px;
				    text-align: left;
				}
				.b-nav__menu .container {
					position: relative;
					overflow-x: hidden; 
					height: 35px;
					margin-top: -6px;
					margin-right: -2px;
				}
				.b-nav__menu .container li:first-child {
					margin-right: 35px;
				}
				.left-cont {
					width: 217px;
					overflow-x: hidden;
					margin-top: 5px;
				}
				.right-cont {
					width: 217px;
					overflow-x: hidden;
				}


	.b-nav .b-nav__get_call_back {
		text-align: right;
	}
		.b-nav .b-nav__get_call_back p:first-child {
			padding-top: 5px;
			margin-bottom: 4px;
		}

		.b-nav .b-nav__get_call_back a.phone {
			font-family: 'ProximaNova-Semibold';
			font-size: 16px;
		}
		.b-nav .b-nav__get_call_back a.call {
			font-family: 'PTSansRegular';
			font-size: 16px;
			color: #59b1e2;
			text-decoration: underline;
		}
			.b-nav .b-nav__get_call_back a.call:hover {
				text-decoration: none;
			}


.b-slider {
	}
.b-slider .b-slider__img-for-slide {
	position: absolute;
	left: 0px;
	opacity: 0.9;
	width: 65%;
	z-index: 0;
	height: 600px;
}
.b-slider__container {
	width: 100%;
}
.b-slider__container-for-fon {
    position: absolute;
    top: 0px;
    z-index: -1;
}
.b-slider .slick-dots li {
	margin: 5px;
}
.b-slider .slick-dots li button:before {
	font-size: 30px;
	color: #fff; 
	opacity: 0.5;
}
.b-slider .slick-dots li.slick-active button:before {
	opacity: 1;
	color: #fff;
}
.b-slider .slick-dots {
	bottom: 40px;
	width: auto;
	left: 40%;
}
.b-slider .slick-dotted.slick-slider {
	margin-bottom: 0px;
}
.b-slider .left-arrow {
	position: absolute;
	left: -30px;
	top: -325px;
	cursor: pointer;
}
.b-slider .right-arrow {
	position: absolute;
	right: -30px;
	top: -325px;
	cursor: pointer;
}
	.b-slider .slide .b-block {
		text-align: left;
	}
	.b-slider .slide {	
		height: 600px;
		position: relative;
	}
	.b-slider__container-for-fon {
		width: 100%;
	}
		.b-slider .b-slider__img-for-slide--fon {
			height: 600px;
			width: 100%;
			background-position: center; 
			background-size: no-repeat; 
			background-size: cover;
		}
		.b-slider .slide-cont-table {
			display: table;
		}
		.b-slider .slide-cont-table-cell {
			display: table-cell;
			height: 600px;
			vertical-align: middle;
		}
		.b-slider .slide h1 {
			font-family: 'PTSerif-Bold';
			font-size: 44px;
			width: 41%;
			color: #fff;
			margin-left: 25px;
			margin-bottom: 35px;
			width: 530px;
			overflow: hidden;
		}
		.b-slider .slide p {
			font-family: 'PTSansRegular';
			font-size: 18px;
			width: 460px;
			color: #fff;
			margin-left: 25px;
			overflow: hidden;
		}
		.b-slider .slide .p-more {
			font-size: 16px;
			color: #fff;
			margin-left: 25px;
			margin-top: 20px;
		}
		.b-slider .slide .p-more a {
			color: #fff;
			text-decoration: underline;
			font-family: 'HelveticaRegular';
		}
			.b-slider .slide .p-more a:hover {
				text-decoration: none;
			}
		.b-slider .slide .button {
			margin-left: 25px;
			margin-top: 45px;
		}

.b-slider-title,
.b-slider-title .slide ,
.b-slider-title .b-slider__img-for-slide--fon,
.b-slider-title .slide-cont-table-cell {
	height: 240px;
}
.b-slider-title {
	overflow: hidden;
}
.b-slider-title .slide h1 {
	margin-left: 0px;
	margin-bottom: 27px;
}
.b-slider-title .b-slider__img-for-slide {
	bottom: 0px;
    left: -172px;
    width: 81%;
}
.b-slider-title .b-slider__img-for-slide--fon {
    background-position: 0% 34%;
}


.b-title {
	font-family: 'PTSansBold';
	font-size: 40px;
	color: #444;
}
.b-about {
	margin-top: 30px;
	text-align: left;
	padding-bottom: 95px;
}
	.b-about .b-block {
		position: initial;
	}
	.b-about .b-title {
		padding-top: 45px;
		width: 50%;
	}
	.b-about p {
		width: 50%;
		color: #444;
		font-family: 'PTSerifRegular';
		font-size: 16px;
		margin-top: 20px;
	}
	.b-about ul {
		width: 50%;
		color: #444;
	}
		.b-about ul li {
			font-family: 'PTSerifRegular';
			font-size: 16px;
			margin-top: 6px;
			list-style-type: disc;
    		margin-left: 20px;
		}
	.b-about .b-about__img {
		position: absolute;
		left: 51%;
		bottom: 0px;
	}

.b-6 {
	height: 230px;
	background: url(../img/slide4-fon.jpg);
	background-position: center;
	background-repeat: no-repeat;
}
	.b-6__left-block {
		position: absolute;
		width: 50%;
		height: 230px;
		background-color: #75c2f8;
		z-index: 0;
	}
	.b-6__right-block {
		position: absolute;
		width: 50%;
		height: 230px;
		background-color: #157dc4;
		z-index: 0;
		display: inline-block;
	}

	.b-6 ul {}
	.b-6 li {
		float: left;
	}
	.b-6 li:nth-child(1) img {
		margin-top: 55px;
	}
	.b-6 li:nth-child(2) img {
		margin-top: 62px;
	}
	.b-6 li:nth-child(3) img {
		margin-top: 65px;
	}


		.b-6 li:nth-child(2) {
			margin-left: 90px;
		}
		.b-6 li:nth-child(3) {
			margin-left: 65px;
		}


		.b-6 img {
			float: left;
			margin-right: 20px;
		}
		.b-6 p {
			text-align: left;
			color: #fff;
			font-family: 'PTSansBold';
			font-size: 18px;
			display: table-cell;
			vertical-align: middle;
		}
		.b-6__slide-p {
			display: table;
			width: 230px;
			height: 230px;
		}
		.b-6 li:nth-child(3) .b-6__slide-p {
				width: 180px;
			}

.b-services {
	margin-top: 60px;
	padding-bottom: 80px;
	overflow: hidden;
}
	.b-services .b-title {
		float: left;
	}
	.b-services .all-services {
		float: right;
		margin-top: 20px;
	}
		.b-services .all-services a {
			text-decoration: underline;
			font-family: 'PTSansRegular';
			font-size: 14px;
			color: #42a7de;
		}
		.b-services .all-services a:hover {
			text-decoration: none;
		}
	.b-services .b-services__slider {
		margin-top: 40px;
		width: 1190px;
		margin-left: -15px;
	}
		.b-services .slide {
			margin: 0px 15px;
			height: 415px;
			position: relative;
		}
		.b-services .b-services__slide__img {
			height: 230px;
		}
			.b-services .b-services__slide__img img {
				height: 100%;
				width: 100%;
			}
		.b-services .b-services__slide__p {
			padding: 0px 30px;
				position: absolute;
				bottom: 0px;
				left: 0px;

			background-color: #009bdc;
			min-height: 180px;
		}
			.b-services .b-services__slide__p p {
				font-family: 'PTSansRegular';
				font-size: 21px;
				color: #fff;
				text-align: left;
				margin-bottom: 100px;
			}

		.b-service__slide__bottom {
			position: absolute;
			bottom: 0px;
			left: 0px;
		}
		.b-services .b-services__slide__price {
			color: #515151 !important;
			z-index: 10;
			position: absolute;
			bottom: 20px;
			left: 30px;
			font-family: 'PTSansRegular';
			font-size: 21px;
			color: #fff;
			text-align: left;
		}
		.b-services .b-services__slide__top-img {
			position: absolute;
			top: -52px;
			left: 0px;
			width: 100%;
		}
		.b-services .b-services__slide__bot-img {
			position: absolute;
			bottom: 0px;
			left: 0px;
			z-index: 5;
		}
		.b-services .left-arrow {
			position: absolute;
			top: 45%;
			left: -25px;
			cursor: pointer;
		}
		.b-services .right-arrow {
			position: absolute;
			top: 45%;
			right: -25px;
			cursor: pointer;
		}

.b-otzivi {
	padding: 58px 0px;
	padding-bottom: 88px;
	background-color: #f5f5f5;
}
	.b-otzivi .b-title {
		float: left;
	}
	.b-otzivi .all-services {
		float: right;
		margin-top: 20px;
	}
		.b-otzivi .all-services a {
			text-decoration: underline;
			font-family: 'PTSansRegular';
			font-size: 14px;
			color: #42a7de;
		}
		.b-otzivi .all-services a:hover {
			text-decoration: none;
		}
	.b-otzivi .b-otzivi__container {
		margin-top: 55px;
	}
	.b-otzivi .b-otzivi__cont {
		width: 43.65%;
		color: #444;
		padding: 30px;
		text-align: left;
		float: left;
		overflow: hidden;
		background: url(../img/otziv-list.png);
		background-position: 117% -6%;
		background-repeat: no-repeat;
		background-color: #fff;
	}
		.b-otzivi .b-otzivi__cont:last-child {
			float: right;
			margin-left: 25px;
		}
		.b-otzivi .b-otzivi__cont__title {
			display: table;
			height: 90px;
		}
			.b-otzivi .b-otzivi__cont__title__img {
				display: table-cell;
				vertical-align: middle;
			}
			.b-otzivi .b-otzivi__cont__title__img img{
				float: left;
				width: 90px;
				height: 90px;
				border-radius: 50%;
				margin-right: 20px;
			}
			.b-otzivi .b-otzivi__cont__title__text {
				display: table-cell;
				vertical-align: middle;
				width: 295px;
			}
			.b-otzivi .b-otzivi__cont__title__text h3 {
				font-family: 'PTSansBold';
				font-size: 24px;
				margin-top: 0px;
			}
			.b-otzivi .b-otzivi__cont__title__text p {
				font-family: 'PTSansRegular';
				font-size: 14px;
				margin-top: 5px;
			}
		.b-otzivi .b-otzivi__cont__description {
			margin-top: 25px;
			overflow: hidden;
			max-height: 95px;
		}
			.b-otzivi .b-otzivi__cont__description p {
				font-family: 'PTSerifRegular';
				font-size: 14px;
				
			}
			.b-otzivi .read-more {
				font-family: 'PTSansRegular';
				font-size: 14px;
				text-align: right;
				color: #42a7de;
				margin-top: 5px;
			}
				.b-otzivi .read-more a {
					color: #42a7de;
					font-family: 'PTSerifRegular';
					font-size: 14px;
					text-decoration: underline;
				}
					.b-otzivi .b-otzivi__cont__description .read-more a:hover {
						text-decoration: none;
					}

.b-footer {
	padding-top: 55px;
	padding-bottom: 30px;
	background-color: #4f4f4f;
}
	.b-footer .b-footer__colum {
		float: left;
		text-align: left;
		margin-right: 150px;
	}
		.b-footer .b-footer__colum:nth-child(3) {
			margin-right: 100px;
		}
		.b-footer .b-footer__colum:nth-child(4) {
			margin-right: 50px;
		}
		.b-footer .b-footer__colum:last-child {
			margin-right: 0px;
			float: right;
		}
	.b-footer .b-footer__colum ul {}
		.b-footer .b-footer__colum ul li {
			margin-top: 15px;
			color: #adadad;
			font-family: 'PTSansRegular';
			font-size: 14px;
			max-width: 200px;
		}
		.b-footer .b-footer__colum:first-child ul li:first-child {
			margin-top: 8px;
		}
				.b-footer .b-footer__colum:first-child ul li {
					margin-top: 55px;
				}
			.b-footer .b-footer__colum ul li:first-child {
				margin-top: 0px;
			}
			.b-footer .b-footer__colum ul li a {
				color: #adadad;
				font-family: 'PTSansRegular';
				font-size: 14px;
				position: relative;
			}
				.b-footer .b-footer__colum ul li a:hover {
					color: #42a7de;
				}
				.b-footer .b-footer__colum:first-child ul li a {
					margin-left: 35px;
				}
				.b-footer .b-footer__colum ul li a:hover .footer-img {
					color: #42a7de;
				}
				.b-footer .b-footer__colum ul li a .footer-img {
					left: -35px;
					top: -7px;
				}
	.b-footer .b-footer__bot {
		margin-top: 85px;
		border-top: 1px solid #adadad;
		padding-top: 25px;
	}
		.b-footer .b-footer__bot p {
			color: #adadad;
			font-family: 'PTSansRegular';
			font-size: 14px;
		}


.b-breadcrumbs {
	background-color: #e8edf1;
}
	.b-breadcrumbs ul {
		padding: 25px 0px;
	}
		.b-breadcrumbs ul li {
			float: left;
			margin-right: 7px;
			color: #1d95d7;
		}
			.b-breadcrumbs ul li a {
				color: #1d95d7;
				cursor: pointer;
				font-family: 'PTSansRegular';
				font-size: 16px;
			}
			.b-breadcrumbs ul li.active a {
				cursor: text;
				color: #a3a5a7;
			}

.b-vacancies {
	padding-top: 10px;
	padding-bottom: 40px;
	background-color: #fff;
}
.b-vacancies .b-otzivi__container {
	margin: 0px;
}
.b-vacancies .b-otzivi__container .b-otzivi__cont {
	background-color: #edf2f6;
	background-position: 126% -18px;
	width: 40.8%;
	margin-top: 30px;
	padding: 29px 46px;
	padding-bottom: 50px;
}
.b-vacancies .b-otzivi__container .b-otzivi__cont:last-child {
	margin-left: 0px;
}
.b-vacancies .b-otzivi__container .b-otzivi__cont:nth-child(2n-1) {
	margin-right: 27px;
}
.b-vacancies .b-otzivi__container .b-otzivi__cont h3 {
	font-family: 'PTSansBold';
	font-size: 28px;
	color: #000;
	margin-top: 15px;
}
.b-vacancies .b-otzivi__container .b-otzivi__cont p {
	font-family: 'PTSerifRegular';
	font-size: 16px;
	margin-top: 25px;
	line-height: 25px;
}
.b-vacancies .b-otzivi__container .b-otzivi__cont .button {
	display: block;
	width: 250px;
	margin-top: 35px;
}


.b-news {
	background-color: #fff;
	padding-bottom: 65px;
}
	.b-news .b-news__container {}
	.b-news .b-news__cont {
		margin-top: 50px;
		width: 365px;
		margin-right: 30px;
	}
		.b-news .b-news__cont:nth-child(3n) {
			margin-right: 0px;
		}
		.b-news .b-news__cont .b-news__cont__img {
			width: 100%;
			height: 220px;
			overflow: hidden;
		}
			.b-news .b-news__cont .b-news__cont__img img {
				width: 100%;
			}
		.b-news .b-news__cont h3 {
			font-family: 'PTSansBold';
			font-size: 30px;
			color: #000;
			margin-top: 20px;
			line-height: 37px;
			text-align: left;
		}
			.b-news .b-news__cont a:hover h3{
				color: #328eff;
				text-decoration: underline;
			}
		.b-news .b-news__cont p {
			margin-top: 15px;
			font-family: 'PTSerifRegular';
			font-size: 14px;
			color: #444;
			text-align: left;
		}
		.b-news .b-news__cont p.b-news__cont__date {
			margin-top: 5px;
			font-family: 'PTSansRegular';
			font-size: 14px;
			color: #444;
			text-align: left;
		}

.b-news-single {
	text-align: left;
}
	.b-news-single h1 {
		margin-top: 27px;
		font-family: 'PTSerif-Bold';
		font-size: 48px;
		color: #000;
		line-height: 61px;
	}
	.b-news-single .b-news-single__date {
		font-family: 'PTSansRegular';
		font-size: 14px;
		color: #b1b1b1;
		margin-top: 7px;
	}
	.b-news-single .b-news-single__img-preview {
		margin-top: 45px;
		width: 100%;
		height: 430px;
		overflow: hidden;
		margin-bottom: 43px;
	}
		.b-news-single .b-news-single__img-preview img {
			height: 100%; 
		}
	.b-news-single p {
		font-family: 'PTSansRegular';
		font-size: 14px;
		color: #444;
		line-height: 21px;
		margin-top: 20px;
	}
	.b-news-single h3 {
		font-family: 'PTSansBold';
		color: #000;
		font-size: 36px;
		margin-top: 22px;
	}
.b-news__container-title {
	margin-top: 40px;
	border-top: 2px solid #f6f6f6;
}
	.b-news__container-title h1 {
		font-family: 'PTSerif-Bold';
		font-size: 48px;
		color: #000;
		padding-top: 22px;
		text-align: left;
	}

.page-otzivi {
	background-color: #fff;
}
.page-otzivi .b-otzivi__cont {
	background-color: #edf2f6;
}
.page-otzivi .b-otzivi__cont {
	float: left;
	margin-right: 25px;
	margin-top: 30px;
}
.page-otzivi .b-otzivi__cont:nth-child(2n) {
	margin-right: 0px;
	margin-top: 30px;
}
.page-otzivi .b-otzivi__cont:last-child {
	margin-left: 0px;
	margin-top: 30px;
}
.page-otzivi {
	padding-top: 10px;
	padding-bottom: 80px;
}
.page-otzivi .b-otzivi__container {
	margin-top: 0px;
}
.page-otzivi .button-blue {
	display: block;
	margin: 0 auto;
	margin-top: 40px;
}

.page-services {
	margin-top: 0px;
}
	.page-services .b-services__slider {
		margin: 0px;
		margin-top: 19px;
		width: 1160px;
	}
		.page-services .slide {
			margin: 0px;
			float: left;
			margin-right: 28px;
			margin-top: 30px;
			width: 367px;
		}
		.page-services .slide:nth-child(3n) {
			margin-right: 0px;
		}
		.page-services .button-blue {
			display: block;
			margin: 0 auto;
			margin-top: 40px;
		}

.b-services-single {}
	.b-services-single h1 {
		font-family: 'PTSerif-Bold';
		font-size: 48px;
		color: #000;
		margin-top: 28px;
		margin-bottom: 46px;
		text-align: left;
		line-height: 59px;
	}
	.b-services-single .side-left {
		float: left;
		margin-right: 29px;
		width: 31.7%;
		text-align: left;
	}
		.b-services-single .b-services-single__img {
			width: 100%;
			height: 315px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		.b-services-single .b-services-single__price {}
			.b-services-single .b-services-single__price p {
				font-family: 'PTSansBold';
				font-size: 36px;
				color: #000;
				margin-top: 30px;
			}
		.b-services-single .side-left .button-blue {
			margin-top: 23px;
		}
	.b-services-single .side-right {
		float: left;
		text-align: left;
		width: 65%;
	}
		.b-services-single .side-right h3 {
			font-family: 'PTSerif-Bold';
			color: #000;
			font-size: 16px;
			margin-top: 17px;
			margin-bottom: 10px;
		}
			.b-services-single .side-right h3:first-child {
				margin-top: -4px;
			}
		.b-services-single .side-right ul {}
		.b-services-single .side-right li {
			font-family: 'PTSerifRegular';
			color: #000;
			font-size: 14px;
		    list-style-type: disc;
    		margin-left: 20px;
		    margin-top: -4px;
    		line-height: 25px;
		}
		.b-services-single .side-right p {
			font-family: 'PTSerifRegular';
			color: #000;
			font-size: 14px;
			margin-top: 7px;
   	 		line-height: 18px;
		}
		.b-news__container-title h2{
			padding-top: 30px;
		}
		.page-single-services {
			margin-top: 6px;
		}

@media (-webkit-min-device-pixel-ratio: 1.5) {
	.b-icon:before{
		background-image: url('../i/sprite@2x.png');
	}
}	
@media screen and (max-width: 1250px){
	
}
@media screen and (max-width: 1020px){

}